

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.groundplan-container {
    background-image: url("../img/groundplan.png");
    
    width: 1294px;
    height: 574px; 
    margin:auto;
}














