

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body {
    background-color: #3f4955;
 }

.groundplan-container {
    background-image: url("../img/groundplan_small.png");
    
    width: 1165px;
    height: 517px; 
    margin:auto;
}

.footer-container {
    margin-top: 35px;
    padding-right: 50px;
    padding-left:50px;
}

.lightbulb {
    position: absolute;
    width: 64px;
    height: 64px;
}

.lightbulb-on {
    background-image: url("../img/lightbulb-on.png");
}

.lightbulb-off {
    background-image: url("../img/lightbulb-off.png");
    opacity: 0.2;
}

#lightbulb-1 {
    top:85px;
    left:830px;
}

#lightbulb-2 {
    top:85px;
    left:1145px;
}

#lightbulb-3 {
    top:85px;
    left:1340px;
}

#lightbulb-4 {
    top:255px;
    left:1145px;
}

.overlay-box {
    z-index: 100;
    border: 1px solid grey;
    position: absolute;
    background-color: #1daf99;
    opacity: 0.9;
}

.vertical-door-closed {
    width: 11px;
    height:75px;
}

.vertical-door-open {
    width: 75px;
    height:11px;
}

.horizontal-door-closed {
    width: 73px;
    height:11px;
}

.horizontal-door-open {
    width: 11px;
    height:73px;
}

#door-1 {
    top: 322px;
    left:368px;
}

#door-2 {
    top: 322px;
    left:903px;
}

#door-3 {
    top: 318px;
    left:1218px;
}

#door-4 {
    top: 237px;
    left:1147px;
}

#door-5 {
    top: 468px;
    left:1146px;
}


.event-log {
    font-size: 10pt;
}

.event-log a {
    padding-top: 3px;
    padding-bottom: 3px;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 36px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 36px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
}
}


.panel-default > .panel-heading {
  color: #333;
  background-color: #000;
  border-color: #ddd;
  background-image: none !important;
      border: 2px solid #dadada;
    border-radius: 7px;
}

.person {
    z-index: 200;
    height:64px;
    width: 64px;
    position: absolute;
    background-image: url("../img/avatar.png");
}

#person-1 {
    top: 250px;
    left: 600px;
}
#person-2 {
    top: 140px;
    left: 1040px;
}
/*#person-3 {
    top: 330px;
    left: 1040px;
}*/
#person-3 {
    top: 250px;
    left: 1290px;
}


.alert-danger {
    font-size: 18pt;
}

.material-switch2 > input[type="checkbox"] {
    display: none;   
}

.material-switch2 > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch2 > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch2 > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch2 > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch2 > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.modal-body img {
    margin-right: 20px;
}

