

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.groundplan-container {
    background-image: url("../img/groundplan.png");
    
    width: 1294px;
    height: 574px; 
    margin:auto;
}

.footer-container {
    margin-top: 50px;
    padding-right: 50px;
    padding-left:50px;
}

.lightbulb {
    position: absolute;
    width: 64px;
    height: 64px;
}

.lightbulb-on {
    background-image: url("../img/lightbulb-on.png");
}

.lightbulb-off {
    background-image: url("../img/lightbulb-off.png");
    opacity: 0.2;
}

#lightbulb-1 {
    top:20px;
    left:835px;
}

#lightbulb-2 {
    top:20px;
    left:1185px;
}

#lightbulb-3 {
    top:20px;
    left:1400px;
}

#lightbulb-4 {
    top:200px;
    left:1185px;
}

.overlay-box {
    z-index: 100;
    border: 1px solid grey;
    position: absolute;
    background-color: lightgrey;
    opacity: 0.4;
}

.vertical-door-closed {
    width: 11px;
    height:80px;
}

.vertical-door-open {
    width: 80px;
    height:11px;
}

.horizontal-door-closed {
    width: 80px;
    height:11px;
}

.horizontal-door-open {
    width: 11px;
    height:80px;
}

#door-1 {
    top: 280px;
    left:317px;
}

#door-2 {
    top: 280px;
    left:910px;
}

#door-3 {
    top: 280px;
    left:1260px;
}

#door-4 {
    top: 186px;
    left:1179px;
}

#door-5 {
    top: 443px;
    left:1179px;
}


.event-log {
    font-size: 10pt;
}













